@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Lobster&family=Montserrat:wght@200;300&family=Open+Sans:wght@300;400&family=Paytone+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Lobster&family=Montserrat:wght@200;300;400&family=Open+Sans:wght@300;400&family=Paytone+One&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: #000;
  font-size: 18px;
  font-weight: 600;
}

a {
  text-decoration: none;
}

h1 {
  margin: 0;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
  overflow: hidden;
}

@media screen and (min-width: 1920px) {
  .container {
    max-width: 1380px;
  }

  * {
    font-size: 20px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1364px) {
  .container {
    max-width: 1020px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  * {
    font-size: 16px;
  }

  .container {
    max-width: 750px;
  }
}
@media screen and (min-width: 595px) and (max-width: 767px) {
  * {
    font-size: 14px;
  }

  .container {
    max-width: 590px;
  }
}
@media screen and (min-width: 412px) and (max-width: 594px) {
  * {
    font-size: 14px;
  }

  .container {
    max-width: 412px;
  }
}
@media screen and (min-width: 380px) and (max-width: 411px) {
  * {
    font-size: 14px;
  }

  .container {
    max-width: 380px;
  }
}
@media screen and (min-width: 320px) and (max-width: 379px) {
  * {
    font-size: 14px;
  }

  .container {
    max-width: 310px;
  }
}
.header {
  padding: 5px;
}
.header .nav_bar {
  padding: 0 10px 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .nav_bar__logo > img {
  width: 250px;
  height: 110px;
}
.header .nav_bar__link {
  font-size: 18px;
  font-weight: 600;
  color: #508CD7;
}
.header .nav_bar :hover {
  text-decoration: underline;
}
.header .mob_header, .header .mob_header__content {
  display: none;
  z-index: 10;
}
.header .header_sep {
  width: 100%;
  height: 1px;
  border: 1px solid black;
}

@media screen and (min-width: 1920px) {
  .header .nav_bar__logo > img {
    width: 290px;
    height: 150px;
  }
  .header .nav_bar__link {
    font-size: 24px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .header .nav_bar {
    display: none;
  }
  .header .mob_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header .mob_header__logo > img {
    width: 200px;
    height: 110px;
  }
  .header .mob_header__dash {
    margin: 3px 20px 0 0;
    width: 34px;
    height: 31px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .header .mob_header__dash div {
    width: 34px;
    height: 3px;
    background-color: #508CD7;
    flex-shrink: 0;
  }
  .header .mob_header__content {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 320px;
    min-height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 45px;
    padding: 30px 25px 65px;
    background-color: gray;
    transform: translateY(-150%);
    /*animation: header 2s forwards;*/
  }
  @keyframes header {
    0% {
      transform: translateY(-150%);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes headerBack {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-150%);
    }
  }
  .header .mob_header__content > a {
    font-size: 19px;
    font-weight: bold;
    color: #000;
  }
  .header .mob_header__content > a:hover {
    color: #508CD7;
  }
  .header .mob_header__content > img {
    align-self: end;
  }
}
.first_section {
  padding: 90px 0;
}
.first_section__title {
  font-size: 25px;
  font-weight: 600;
  text-align: left;
  margin-left: 150px;
  margin-bottom: 35px;
  text-shadow: #508CD7 1px 0 4px;
}
.first_section__wrapper {
  display: flex;
  align-items: center;
  gap: 45px;
  padding: 10px;
}
.first_section__wrapper .fs_info {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.first_section__wrapper .fs_info .fs_title {
  font-size: 23px;
  font-weight: 600;
  text-shadow: black 1px 0 3px;
}
.first_section__wrapper img {
  width: 670px;
  height: 450px;
  box-shadow: 5px 5px 5px black;
}
.first_section .kontakt__add_info {
  padding: 25px 0;
}

.footer .footer_wrapper .fw_main {
  display: flex;
  justify-content: space-between;
  padding-bottom: 25px;
}
.footer .footer_wrapper .fw_main .footer_img {
  width: 200px;
  height: 85px;
}
.footer .footer_wrapper .fw_main .footer_contacts {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer .footer_wrapper .fw_main .footer_contacts .contact {
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer .footer_wrapper .fw_main .footer_contacts .contact > img {
  width: 35px;
  height: 35px;
}
.footer .footer_wrapper .fw_main .footer_links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer .footer_wrapper .fw_main .footer_links > a:hover {
  text-decoration: underline;
}
.footer .footer_wrapper .footer_separ {
  width: 100%;
  height: 1px;
  border: 1px solid black;
}
.footer .footer_wrapper .autograph {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.footer .footer_wrapper .autograph > a {
  text-decoration: underline;
  font-size: 14px;
}
.footer .footer_wrapper .autograph > p {
  font-size: 14px;
}

@media screen and (min-width: 595px) and (max-width: 767px) {
  .footer .footer_wrapper .autograph > a {
    font-size: 12px;
  }
  .footer .footer_wrapper .autograph > p {
    font-size: 12px;
  }
}
@media screen and (min-width: 412px) and (max-width: 594px) {
  .footer .footer_wrapper .fw_main {
    flex-direction: column-reverse;
    align-items: center;
    padding-bottom: 25px;
    gap: 25px;
  }
  .footer .footer_wrapper .fw_main .footer_img {
    margin-top: -15px;
    width: 320px;
    height: 115px;
  }
  .footer .footer_wrapper .fw_main .footer_contacts .contact > img {
    width: 30px;
    height: 30px;
  }
  .footer .footer_wrapper .autograph > a {
    font-size: 12px;
  }
  .footer .footer_wrapper .autograph > p {
    font-size: 12px;
  }
}
@media screen and (min-width: 380px) and (max-width: 411px) {
  .footer .footer_wrapper .fw_main {
    flex-direction: column-reverse;
    align-items: center;
    padding-bottom: 25px;
    gap: 25px;
  }
  .footer .footer_wrapper .fw_main .footer_img {
    margin-top: -15px;
    width: 320px;
    height: 115px;
  }
  .footer .footer_wrapper .fw_main .footer_contacts .contact > img {
    width: 27px;
    height: 27px;
  }
  .footer .footer_wrapper .autograph > a {
    font-size: 12px;
  }
  .footer .footer_wrapper .autograph > p {
    font-size: 12px;
  }
}
@media screen and (min-width: 320px) and (max-width: 379px) {
  .footer .footer_wrapper .fw_main {
    flex-direction: column-reverse;
    align-items: center;
    padding-bottom: 25px;
    gap: 25px;
  }
  .footer .footer_wrapper .fw_main .footer_img {
    margin-top: -15px;
    width: 320px;
    height: 115px;
  }
  .footer .footer_wrapper .fw_main .footer_contacts .contact > img {
    width: 27px;
    height: 27px;
  }
  .footer .footer_wrapper .autograph > a {
    font-size: 10px;
  }
  .footer .footer_wrapper .autograph > p {
    font-size: 10px;
  }
}

/*# sourceMappingURL=uber_uns.css.map */
